<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    {% include 'head.html' %}
</head>

<body>
    {% include 'nav.html' %}

<div class="container">

    <div class="col-md-7 col-xs-12 news-list">
        {% for item in news %}
        <div>
            <a href='/news_view?d={{item.date|replace(" ","_", 1)}}'><h2>{{ item.title|title }}</h2></a>
            <p>{{ item.body|striptags|truncate(320)}}</p>
        </div>
        {% endfor %}

         <p class="text-center my-pagination">
            <a href="/?start={{prev_story}}">Previous Stories</a> |
            <a href="/?start={{next_story}}">Next Stories</a>
        </p>
    </div>


    <div class="col-md-5 text-center">


    </div>

</div>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</body>
</html>
{% endautoescape %}
