<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    {% include 'head.html' %}
</head>

<body>
{% include 'nav.html' %}

<div class="container">

    <div class="col-md-7 col-xs-12 news-list">
        {% for item in news %}
        <div>
            <a href='/news_view?d={{ item|get_id }}'><h2>{{ item.title|title }}</h2></a>
            <span class="by-line">
            by  <span>{{item.author|title}}</span> |
                {{ item.date.strftime('%B %d, %Y at %H:%M')}} {{ item.date|muda_ulopita|safe}}
            </span>
            <p>{{ item.body|striptags|truncate(270)}}</p>
        </div>
        {% endfor %}

        <p class="text-center my-pagination">
            <a href="/?start={{prev_story}}">Previous Stories</a> |
            <a href="/?start={{next_story}}">Next Stories</a>
        </p>
    </div>


    <div class="col-md-5 text-center">


    </div>

</div>

{% include 'footer.html' %}

</body>
</html>
{% endautoescape %}
