<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    {% include 'head.html' %}
</head>

<body>
    {% include 'nav.html' %}

<div class="container">

    <div class="col-md-7 col-xs-12 news-view">
        {% for item in news %}
        <div>
            <h2>{{ item.title|title }}</h2>
            <i>
            by <span class="by-line"> {{item.author}} </span> /
            <span class="by-line">{{ item.date.strftime('%B %d, %Y %H:%M')}}</span>
            </i>
            <p>{{ item.body|safe}}</p>
            <p class="news-tags"><code>#{{item.tags}}</code></p>
        </div>
        {% endfor %}

        <div class="comments" style="background:#f7f8f6;padding:12px;">
            {% include 'comments.html' %}
        </div>
    </div>


    <div class="col-md-5 text-center">


    </div>

</div>
{% include 'footer.html' %}</body>
</html>
{% endautoescape %}