<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    {% include 'head.html' %}
</head>

<body>
{% include 'nav.html' %}

<div class="container">
    <div class="col-md-7 col-xs-12 news-view">
        <div>
            <h2>{{ news.title|title }}</h2>
            <span class="by-line">
            by  <span>{{news.author|title}}</span> |
                {{ news.date.strftime('%B %d, %Y at %H:%M')}} {{ news.date|muda_ulopita|safe}}
            </span>
            <p class="news-body">{{ news.body|safe}}</p>
            <p class="news-tags"><code>#{{news.tags}}</code></p>
        </div>

        <hr>
        <button onclick="hideComments()" class="button btn-hide-comments">SHOW COMMENTS</button>
        <div class="comments" style="background:#f8f8f8;padding:16px;display:none;">
            {% include 'comments.html' %}
        </div>
    </div>


    <div class="col-md-5 text-center">


    </div>

</div>
{% include 'footer.html' %}
</body>
</html>
{% endautoescape %}